/* App.css */


.App-header {
  background-color: #343a40;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(59, 61, 73, 0.3);
}

main{
  padding:30px
}


.ant-table {
  background: red;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.ant-table-header {
  background: #f5f5f5;
}

.ant-table-thead > tr > th {
  background: #e6f7ff;
  color: #1890ff;
  font-weight: bold;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #d9d9d9;
}

.ant-table-tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ant-tag {
  font-weight: bold;
}

.status-column {
  text-align: center;
}

.ant-table-cell {
  padding: 16px;
}

.ant-table-pagination {
  margin: 16px 0;
}

.ant-table {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Custom Scrollbar Styles */

.ant-table-wrapper {
  max-height: 300px; /* Adjust based on your needs */
  overflow-y: auto;
  overflow-x: auto;
}

.ant-table-body {
  /* Hide default scrollbar */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* WebKit Browsers (Chrome, Safari) */
.ant-table-body::-webkit-scrollbar {
  width: 8px; /* Adjust width of vertical scrollbar */
  height: 8px; /* Adjust height of horizontal scrollbar */
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Scrollbar color */
  border-radius: 8px; /* Rounded corners */
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #f0f2f5; /* Track color */
  border-radius: 8px; /* Rounded corners */
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Darker color on hover */
}
